 <%# <div class="pb-8 px-6 py-4 "> %>
<%# <h2 class="text-3xl font-bold text-primary">Edit Friend</h2> %>
<%= render 'form', friend: @friend %>
<%# </div> %>
<%# <%= link_to 'Back to Friend', @friend %>
<%# <%= link_to 'Back to Friends List', friends_path %>
